# latex
*/*.aux
*/*.log
*/*.out
*/*.toc
*/*.bbl
*/*.bcg
*/*.blg
*/*.synctex.gz

# macos
.DS_Store

# generated dataset
src/dataset/__pycache__/
src/dataset/data

data/
**/__pycache__/

src/outputs/
src/wandb/
src/checkpoints/