# latex
*/*.aux
*/*.log
*/*.out
*/*.toc
*/*.bbl
*/*.bcg
*/*.blg
*/*.synctex.gz

# macos
.DS_Store

# generated dataset
src/dataset/data

data/

/checkpoints/
/outputs
src/outputs
src/wandb
**/__pycache__/

.venv
*.err
*.out
wandb/
.env
